<div class="bc-ce-app">
    <h1 class="bc-ce-headline bc-ce-healdine-h1">Search your bandcamp collection</h1>
    <p class="bc-ce-text">Enter your collection URL. Like https://bandcamp.com/my-collection-name</p>
    <div class="bc-ce-flex-row">
        <div class="bc-ce-flex-row-entry">
            <input id="bc-ce-collection-search-input" type="text" pInputText [(ngModel)]="collectioName"/>
        </div>
        <div class="bc-ce-flex-row-entry">
            <p-button id="bc-ce-collection-search-button" [disabled]="buttonDisalbed" label="search" (onClick)="search()"/>
        </div>
    </div>
</div>