<div class="bc-ce-app">
    <div class="bc-ce-nav">
        <p-button  icon="pi pi-chevron-left" label="Search another collection" (onClick)="back()"/>
    </div>
    <h1 class="bc-ce-headline bc-ce-healdine-h1">Your collection:</h1>
    <p class="bc-ce-text">{{artistCount}} atrists and {{albumCount}} albums found.</p>
    <p class="bc-ce-text">Missing something? Complete your collection by searching for an artist or album:</p>
    <div class="bc-ce-flex-row">
        <div class="bc-ce-flex-row-entry">
            <input type="text" pInputText [(ngModel)]="apiSearch"  />
        </div>
        <div class="bc-ce-flex-row-entry">
            <p-button label="search" (onClick)="search()"/>
        </div>
    </div>
    <div class="bc-ce-flex-row">
        <div class="bc-ce-flex-row-entry" style="height: 100vh;">
            @if (dataReady) {
                <p-tree [value]="treeData" selectionMode="single" [(selection)]="selected" [filter]="true" filterPlaceholder="Search in tree"
                 scrollHeight="80vh" [virtualScroll]="true" [virtualScrollItemSize]="46"
                 (onNodeSelect)="onNodeSelect($event)"></p-tree>
            } @else {
                <p-progress-spinner ariaLabel="loading" />
            }
        </div>
        <div class="bc-ce-flex-row-entry">
            @if (selected && selected.type === 'album') {
                <app-album-detail [albumData]="selected.data" [collectionName]="collectionName"></app-album-detail>
            }
        </div>
    </div>
</div>